@charset "utf-8";
@import "../mixin/code";

.wiki-content, .entry-content {
  @include code;

  &>br {
    display: none;
  }

  td.confluenceTd {
    &>a {
      display: inline-flex;
    }

    // &>br:nth-last-of-type(1) {
    //   display: none;
    // }

    &>br:nth-last-child(1) {
      display: none;
    }
  }

  img {
    max-width: 1190px;
  }
}

#custom-content-header {
  text-align: left !important;
  padding: 0 0 6px 0;
}
