@charset "utf-8";
@import "tiny-normalize";
@import "../variate/index.scss";

// 在父元素字体大小为 16px 的容器内绘制图形交互
$TinyBoxSize: 16px;
@function pxToEm ($px) {
  @return calc($px / 16) * 1em;
}

.tiny-box {
  width: 100%;
  font-weight: 400;
  font-family: Arial;
  font-size: $TinyBoxSize; // 16px;
  box-sizing: border-box;
  color: #111111;
  padding: pxToEm(20); // 20px;

  div, input {
    box-sizing: border-box;
  }

  input, button, a, span {
    font-size: pxToEm(16);
    line-height: 1.5;
  }

  button {
    font-weight: 400;
    text-align: center;
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    box-shadow: 0 pxToEm(2) 0 rgba(0, 0, 0, 0.045);
    text-shadow: 0 pxToEm(-1) 0 rgba(0, 0, 0, 0.12);
    outline: 0;
    border: pxToEm(1) solid transparent;
    cursor: pointer;
    white-space: nowrap;
    padding: pxToEm(3) pxToEm(15);
    border-radius: pxToEm(2);

    &:hover {
      background: #40a9ff;
      border-color: #40a9ff;
    }
  }

  input {
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    min-width: pxToEm(200);
    padding: pxToEm(4) pxToEm(11);
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    background-image: none;
    border: pxToEm(1) solid #d9d9d9;
    border-radius: pxToEm(2);
    transition: all 0.3s;
    width: pxToEm(200);

    &:focus {
      border-color: #40a9ff;
      outline: 0;
      box-shadow: 0 0 0 pxToEm(2) rgba(24, 144, 255, 0.2);
    }
  }

  .generate {
    display: flex;
    justify-content: space-between;

    >input {
      margin-right: pxToEm(16);
      flex: 1 0 auto;
    }
  }

  .result-show {
    padding: pxToEm(24) pxToEm(24) pxToEm(12) pxToEm(24);
    background: #fff;
    border-radius: pxToEm(2);
    color: rgba(0, 0, 0, 0.85);
    border: pxToEm(1) solid #f0f0f0;
    margin-top: pxToEm(20);
    display: flex;
    flex-wrap: wrap;

    .copied {
      color: #28a745;
      display: inline-flex;
      align-items: center;
    }

    .placeholder {
      font-size: pxToEm(14);
      display: inline-flex;
      align-items: center;
    }

    a, input, button, span {
      margin-right: pxToEm(10);
      margin-bottom: pxToEm(12);
    }
  }

  .generated-result {
    @extend .result-show;

    margin-top: pxToEm(8);
    align-items: center;
    padding-bottom: pxToEm(24);

    span, a {
      margin: 0;
      display: flex;
      justify-items: center;
      font-size: pxToEm(14);
    }

    a {
      text-decoration: underline;
      color: #111111;
    }

    &.is-backup {
      span {
        font-size: pxToEm(13);
      }

      button {
        margin: 0;
        color: $color-black;
        background: $bgc-silver;
        border-color: $bgc-silver;
        padding: pxToEm(0) pxToEm(5);
        margin-left: pxToEm(8);
        font-size: pxToEm(12);

        &:hover {
          background: $bgc-silver;
          border-color: $bgc-silver;
        }
      }

      .copied {
        font-size: pxToEm(12);
        margin-left: pxToEm(8);
      }
    }

    &.is-qr {
      padding: 0; // pxToEm(12);

      .qr-code {
        display: flex;
      }

      canvas {
        margin: pxToEm(12);
      }
    }
  }
}
