@mazey-mip-solid-color: rgb(174, 174, 174);

.post-index{
	.border-bottom(1px);
	padding: 14px 0;
}

.post-page{
    list-style: none;
    padding: 15px 0;
}

.post-page>li:first-child{
    .pull-left;
}
.post-page>li:last-child{
    .pull-right;
}

.post-sidebar{
    padding-top: 14px; 
}

.border-bottom(@width:1px){
    border-bottom-width: @width;
    border-bottom-color: @mazey-mip-solid-color;
    border-bottom-style: solid;
}

.post-may-like{
    padding-top: 14px;
    padding-bottom: 14px;
}

.post-sidebar>h3,.post-may-like>span{
    .border-bottom(2px);
    padding: 0 0 3px 0;
    display: inline-block;
}

.post-sidebar ul{
    list-style: none;
}

.post-pagination{
    margin: 50px 0 0;
}

.post-pagination>nav>h2.screen-reader-text{
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal;
    position: absolute;
}

.post-pagination span.page-numbers.current{
    .btn;
    .btn-primary;
}

.post-pagination a.page-numbers{
    .btn;
    .btn-default;
}

.post-footer{
    margin:30px 0 0;
}

.post-footer>div{
    border-top: 1px solid @mazey-mip-solid-color;
    padding:25px 0;
}

.post-footer>div>p{
    margin:0;
}

.post-search>mip-form{
    .form-inline;
}
