@mixin code {
  code, kbd, pre, samp, tt, var {
    font-family: monospace, monospace;
    font-size: 1em
  }

  pre {
    // Main
    display: block;
    overflow: auto;

    // Extra
    white-space: pre-wrap;
    word-break: break-all;
    background: #eee;
    color: #626262;

    // Beauty
    line-height: 1.6;
    max-width: 100%;
    padding: 20px;

    code {
      font-size: inherit;
      color: inherit;
      word-break: normal;
    }
  }

  code {
    color: #e83e8c;
    word-break: break-word
  }

  a {
    code {
      color: inherit
    }
  }
}
