@use "sass:color";

// Theme variables mixin
@mixin theme-vars($theme) {
  @each $key, $value in $theme {
    --color-#{$key}: #{$value};
  }
}

// Images and multi-colored icons: saturation reduced by 15%, brightness reduced by 3%
@mixin dark-img {
  filter: saturate(85%) brightness(97%);
  will-change: filter;
}

// For backgrounds - if brightness is less than 25%, do not convert
@mixin dark-bg($name, $color) {
  $l1: color.lightness($color);
  @if ($l1 < 25%) {
    #{$name}: $color;
    @include night() {
      #{$name}: $color;
    }
  } @else {
    #{$name}: $color;
    @include night() {
      #{$name}: calculate($color);
    }
  }
}

// Light gray backgrounds or divider lines
@mixin dark-gray-bg($name, $color) {
  #{$name}: $color;
  @include night() {
    #{$name}: calculate($color, 'gray');
  }
}

// Text/Icons/Buttons (plates), including pure white strokes, are not converted
@mixin dark-elem($name, $color) {
  @if (color.lightness($color) == 100%) {
    #{$name}: $color;
    @include night() {
      #{$name}: $color;
    }
  } @else {
    #{$name}: $color;
    @include night() {
      #{$name}: calculate($color);
    }
  }
}

// Custom transformation
@mixin dark-cus($name, $lightCSS, $darkCSS) {
  #{$name}: $lightCSS;
  @include night() {
    #{$name}: $darkCSS;
  }
}

// Direct mixin for night mode overrides
@mixin dark-mixin($name, $value) {
  [data-theme="dark"] & {
    #{$name}: $value;
  }
}


// ----- Central Night Mixin -----

@mixin night() {
  [data-theme="dark"] & {
    @content;
  }
}

@function calculate($color, $type: 'default') {
  $h1: color.hue($color);
  $s1: color.saturation($color);
  $l1: color.lightness($color);
  $h2: $h1;
  $s2: $s1;
  $l2: $l1;

  // Evaluate HSL values and perform conversion
  @if ($s1 > 0) {
    // When saturation > 0, reduce lightness (L) by 5% and saturation (S) by 20%
    $h2: $h1;
    $s2: $s1 * 0.8;
    $l2: $l1 * 0.95;

    @if ($l1 > 79) {
      // For bright colors: L' = (100 - L) + 0.1, reduce saturation (S) by 80%
      $h2: $h1;
      $s2: $s1 * 0.2;
      $l2: $l1 * -0.9 + 100;
    }

    @if ($l1 < 25) {
      // For dark colors: L' = (100 - L) + 0.1, reduce saturation (S) by 20%
      $h2: $h1;
      $s2: $s1 * 0.8;
      $l2: $l1 * -0.9 + 100;
    }
  }

  // When saturation is 0 (Grayscale)
  @if ($s1 <= 0) {
    $h2: $h1;
    $s2: $s1;

    @if($l1 > 95 and $type == 'gray') {
      $h2: $h1;
      $s2: $s1;
      $l2: 8 - (100 - $l1) * 1.6;
    } @else {
      $h2: $h1;
      $s2: $s1;
      $l2: $l1 * -0.92 + 100;
    }
  }

  // Handle pure white
  @if ($l1 == 100%) {
    $h2: $h1;
    $s2: $s1;
    $l2: 8%;
  }

  @return hsl($h2, $s2, $l2);
}
