@mixin code {
  code, kbd, pre, samp, tt, var {
    font-family: monospace, monospace;
    font-size: 1em
  }

  pre {
    // main
    display: block;
    // margin-top: 0;
    // margin-bottom: 1rem;
    overflow: auto;
    // font-size: .875em;

    // extra
    white-space: pre-wrap;
    word-break: break-all;
    background: #eee;
    color: #626262;

    // beauty
    line-height: 1.6;
    max-width: 100%;
    padding: 20px;

    code {
      font-size: inherit;
      color: inherit;
      word-break: normal;
    }
  }

  code {
    // font-size: 87.5%;
    // font-size: 1em;
    color: #e83e8c;
    word-break: break-word
  }

  a {
    code {
      color: inherit
    }
  }
}
